html {
  overflow-x: hidden;
  max-width: 100vw;
}
body
{
  overflow-x: hidden;
  --darkblue: #0A3D62;
  --lightblue: #3C6382;
  --grey: #eef0f2;
  --lightyellow: #fad390;
  --darkyellow: #F6B93B;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background: white;
  color: #0a3d62;
  font-family: 'Lato', serif;
}
 * {
     font-family: 'Lato', serif;
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
     font-size: 15px;
 }
a {
  color:#0a3d62;
}
a:visited {
  color:var (--darkblue);
}

.bg-grey {
  background: #f5f5f5;
  padding: 20px;
  margin: 20px 0;
}

.line-break {
  height: 1px;
  width: 100vw;
  background: #eef0f2;
  margin: 20px auto;

}
#menu a
{
  text-decoration: none;
  color: #eef0f2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menu a:hover
{
  color: var(--darkyellow);
}

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  width: 40px;
  z-index: 1;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #eef0f2;
  border-radius: 3px;
  
  z-index: 1;
  
  -webkit-transform-origin: 4px 0px;
  
          transform-origin: 4px 0px;
  
  -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background:  #eef0f2;
  ;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 110vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #0A3D62;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  -webkit-transform-origin: 0% 0%;
  
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 14px;
}


#menuToggle input:checked ~ ul
{
  -webkit-transform: none;
          transform: none;
}

nav {
    background-color: #0A3D62;
    height: 63px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 1000;

}


#menu-desktop {
  display: none;
}

.widget {
  display: none;
}

  @media(min-width:600px){
    #menuToggle{display:none}

   #menu-desktop {
     display: inline-block;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     list-style: none;
     color: white;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin-left: 10px;
   }
   #menu-desktop a{
     margin: auto 20px;
     text-decoration: none;
     text-align: center;
     color: white; 
   }
   nav {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
   }
   #weather {
     right: 0;
    color: white;
    }
    
    .widget {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 10px;
    }
    .weather-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #weather-icon {
      height: 40px;
      width: 40px;
    }
    .widget p {
      margin-top: -5px;
      font-size: 12px;
    }
    .temp {
      font-size: 12px;
    }
    #weather-temp {
      font-size: 12px;
    }
  }

  .news {
    width: 100vw;
    height:113px;
    background-color: #eef0f2;
    color: #0A3D62;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .news a {
    
    color: #0a3d62;
  }
  .news p {
    padding-bottom: 10px;
    text-align: center;
    width: 80vw;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 12px;
    
    
  }

  .news a:hover {
    color: #3C6382;
  }
  .hero {
    /* color: #eef0f2; */
    width: 100vw;
    height: 75vh; 
    /* margin-top: 20px;  */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(60,99,130, 0.5)), to(rgba(10,61,98,0.7))), url(img/bg.jpg) no-repeat center center fixed;
    background: linear-gradient(rgba(60,99,130, 0.5), rgba(10,61,98,0.7)), url(img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }

  .hero-text {
    color: white;

    border-radius: 5px;

    height: 20vh;
    width: 80vw;
    text-align: center;
    margin-bottom: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4px;
    min-width: 288px;

  }
.hero .learn-more {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255,255,255,0.8);
}
.hero .learn-more a {
  color: var(--darkblue);
}
  .contact-button {
    padding: 4px 2px;
    background: white;
    width: 100px;
    -ms-flex-item-align: center;
        align-self: center;

  }
  .contact-button a {
    color: black;
  }
  h1 {
    font-family: 'Lato', serif;
    font-weight: 300; 
    font-size: 56px;
    color: white;
    text-align: start;
  }
  h2  {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin: 20px auto 20px;
  }
  .overview {
    margin-top: 0;
    background: white;
  }
  .overview ul {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;

  }

  .overview li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #3c6382;
  }
  .overview i {
    color: #F6B93B;
    font-size: 25px;
  }


  .learn-more {
    color: #0A3D62;
    width: 45%;
    padding: 13px 10px;
    border-radius: 5px;
     margin: 20px auto 30px auto;
     text-align: center;
     border: 1px solid #3c6382;
     
  }
  .learn-more a {
    width: 60px;
    color: #0A3D62;
    text-decoration: none;
    font-size: 18px;
  }

  .main-title {
    padding-top: 20px;
   
  }
  .main-text {
   
    color: #0A3D62;
    text-align: justify;
    margin: 0 auto 20px;
    line-height: 130%;
    font-size: 15px;
    max-width: 300px;

  }
  .gallery .main-text {
    margin-top: 20px;
  }
  .intro {
    margin-top: 20px;
  }

  .gallery h4 {
    text-align:center;
    padding:20px 0 10px 0;
    font-weight:600;
    color:#00303f;
  }  
  
  .gallery {
    display: 	-ms-grid;
    display: 	grid;
    -ms-grid-columns: 	1fr;
        grid-template-columns: 	1fr;
    -ms-flex-line-pack: 	 	center;
        align-content: 	 	center;
    -webkit-box-pack: 	center;
        -ms-flex-pack: 	center;
            justify-content: 	center;
  
  }
  .image {
    text-align: center;
    position: relative; 
    font-size: 0;
    height: 40vh;
    max-height: 300px;
    width: 100vw;
    -ms-grid-column-align: center;
        justify-self: center;
  
  
    
  }
  .image img {
    -o-object-fit: 	cover;
       object-fit: 	cover;
    width: 	100%;
    height: 100%;
  
  }
  
  .slide {
      border: none; 
      opacity: 0; 
      position: absolute; 
      top: 0; 
      left: 0;
      -webkit-transition: opacity 2s linear;
      transition: opacity 2s linear;
  }
  .showMe {
    opacity: 1;
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  /*  z-index: 10;*/
     -webkit-transition: 1s ease;
    transition: 1s ease;
     /*dim the background*/
     background-color: rgba(0,0,0,0.5);
  }
  
  .image:hover .overlay  {
    opacity: 1;
    
  }
  .text {
    width: 100%;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
  }
  
  .overlay h2 {
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }  

  .amenities p {
    margin: 0 12vw 25px 12vw;
    text-align: justify;
  }
  .amenities ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
  }
  .amenities {
    color: #0A3D62;
    width: 100vw;

 
  }
  h5 {
   
    font-family: 'Lato', 'serif';
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #0a3d62;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

  
  }
  .underline {
    height: 1px;
    background: #f6b93b;
    width: 20vw;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
  
  }
  .amenities h5, .review h5 {
    padding-top: 20px;
    margin: 20px 8vw;

  }

  .amenities li:nth-of-type(odd){
    background-color: rgba(250, 211, 144, 0.2);
  }
  .amenities li{
    height: 40px;
  }
  .amenities-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
  }
  .amenities-logo li {
    width: 10vw;
    text-align: center;
  }
  .amenities-text {
    width: 90vw;
    
  }
  .amenities-text li {
    padding: 20px 30px 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .amenities-logo li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.prices {
  color: #0a3d62;
  text-align: justify;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 14px;
  margin: auto;
}  
.prices ul {
  list-style: none;
  padding-left: 0;
  margin: 20px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prices li {
  text-align: center;
  margin: 10px auto;
}
.prices i {
  font-size: 40px;
  color: #f6b93b;
  margin-bottom: 10px;
}

.prices button {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
  border-color: var(--lightblue);
  background: var(--darkblue);
}
.prices button a {
  color: white;
}
.dark {
  background: #e8e8e8;
  width: 100%;

}

.prices a {
   color: var(--darkblue);
}
.review-widget {
  margin: 3vh 8vw;
}

.stars {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fad390;
  margin-left: 0;
  padding-left: 0;
}

.review-title {
  font-weight: bold;
  color: #0A3D62;
}

.review-text {
  color: #0A3D62;
  text-align: justify;
}

.review-date {
  color: #707070;
}

#map{
	height: 40vh;
  width: 100vw;
  /* margin: auto 5vw; */
}

.location p {
  text-align: justify;
  width: 80vw;
  margin: 20px auto 40px 10vw;
}

.social-section {
  background: var(--lightblue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding-top: 20px;
}
.social-section ul li i {
  color: white;
  font-size: 48px;
  margin: 12px;
}

.footer-two {
  background: #0A3D62;
  height: 63px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #eef0f2;
}

.footer-two ul {
  color: #eef0f2;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-two ul li {
  margin: auto 3px;
  color: var(--grey);
  font-size: 12px;
}
.footer-two ul li a {
  color: white;
  font-size: 12px;

}

.footer-one {
  background: #3c6382;
  height: 63px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #eef0f2; 
  font-size: 12px;
}
.footer-one a {
  color: white;
  font-size: 12px;
}
.footer-one a:visited {
  color: white;
}
.footer-one p {
  font-size: 12px;
}
#year {
  font-size: 12px;
  
}
.gozo-title {
  padding-top: 100px;
}

.gozo .main-text {
  font-size: 15px;
}
.gozo .main-text:nth-of-type(2){
  padding-bottom: 20px;
}

.gozo  img{
	-ms-grid-column-align: center;
	
	    justify-self: center;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	text-align:center;
	width: 100vw;

}

.activity {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gozo p {
  font-size: 14px;
}

.white {
  border: 1px solid #eef0f2;
  margin: 0;
  padding: 5px 3px;
  width: 30%;
  
}
.white a {
  color: #eef0f2;
  font-size: 12px;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 4px auto 8px;
  padding-left: 0;
  
}

.social i {
  color: #eef0f2;
  font-size: 25px;

}
.social li {
 margin: auto 15px;

}

.contact {
  width: 100vw;
  padding-top: 83px;
  margin-bottom: 40px;
}

.contact p {
  text-align: justify;
  width:80vw;
  margin: 0 auto 20px;
}

form {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-input {
  color: var(--darkblue);
  font-family: 'Lato', Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid var(--darkblue);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:90vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline:0;
  max-width: 600px;
}

.feedback-input:focus { border:2px solid var(--darkyellow); }

textarea {
  height: 208px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  width: 40%;
  background:var(--lightblue);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  max-width: 200px;

}
[type="submit"]:hover { background:var(--darkyellow); }

.contact-details {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.contact p {
  margin-top: 40px;
  text-align: center;
}
.contact a {
  font-size: 16px;
  text-decoration: none;
}
.contact span {
  font-size: 16px;
}
.contact-details i {
  color: var(--lightblue);
  font-size: 40px;
}

.contact-details a:nth-of-type(3) {
  margin-top: 40px;
}
.address i {
  font-size: 30px;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}
.address {
  max-width: 250px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px; 
    padding: 20px 30px;
    border: 1px solid #d4d4d4;
}
.address p {
  margin: 0 auto 0 30px;
  text-align: start;
  min-width: 130px;
}

.footer-desktop {
  display: none;
}
.desktop-screen {
    display: hidden;
}


.space {
  height: 40px;
  width: 100vw;
}
/* Tablet versions */

/* portrait tablet */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 75px; 
    text-align: center;
  }
  h2 {
    font-size: 22px;
  }
  .main-text {
    max-width: 500px;
  }
  .image {
    height: 60vh;
    max-height: 800px;
  }
  .learn-more {
    width: 30%;
    max-width: 250px;
    padding: 10px 10px;
  }
  .learn-more a {
    font-size: 25px;
    text-transform: uppercase;
  }

  .prices .learn-more {
    margin-top: 60px;
  }
  .prices ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px auto 40px auto;
    padding-left: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    
  }
  .prices ul li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    background: #f9f9f9;
    min-height: 150px;
    border-radius: 20px; 
    padding: 10px;
    border: 1px solid #d4d4d4;
  }

  .display-mobile {
    display: none;
  }
  .footer-desktop {
    display: inline-block;
  }
  #year {
   display: inline; 
  }
  .center {
    text-align: center;
  }
  .gallery h5 {
    margin-bottom: 70px ;
  }
  .gozo .main-text:nth-of-type(2) {
      padding-bottom: 0;
      margin-top: 0;
  }
  .gozo .main-text {
    margin-bottom: 0;
    max-width: 700px;
    
  }
  .activity p {
    max-width: 700px;
    text-align: justify;
  }
} 

/* landscape tablet */

@media only screen and (min-width: 768px) {
  .widget {
    margin-right: 50px;
  }
  .main-text {
    max-width: 700px;
    margin: 40px auto;
  }
  .location p {
    text-align: center;
  }
  .address p {
    text-align: start;
  }
  #map {
    height: 80vh;
  }
  .image {
    height: 80vh;
    min-height: 700px;
  }
  .amenities p {
    text-align: center;
  }
  .amenities-lists {
    width: 80vw;
    max-width: 850px;
    margin:  auto;
  }
  .footer-one {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;

  }
  .contact-details {
    margin: 50px auto;
    max-width: 500px;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
    grid-auto-flow: column;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;

  }
  .contact-details a:nth-of-type(3){
    grid-row: 1 /2;
    grid-column: 2 / 3;
    margin-top: 0;
 
  }


  #menu-desktop {
    margin-right: 15vw;
  }
  #menu-desktop a {
    margin: 15px;
  }
  .prices li i {
    margin-top: 10px;
  }
 
  .address {
    margin: 60px auto;
  }


  .activity img {
    width: 80vw ;
    margin: 50px auto;


  }
  .activity p {
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: auto;
  }

} 

@media only screen and (min-width: 992px) {

  .news p {
    font-size: 14px;
  }
  .prices p {
    max-width: 700px;
  }

} 

@media only screen and (min-width: 1200px) {
  .hero {
    height: 90vh;
  }
  .widget {
    margin-right: 10vw;
  }
  #menu-desktop  {
    margin-left: 10vw;
  }

  .image {
    width: 80vw;
    max-width: 900px;
    height: 90vh;
  }
  .review {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 30px 10vw 70px;
  }
  .review h5 {
    margin-bottom: 40px;
  }
  .review-widget {
    width: 40vw;
    max-width: 850px;
    margin: auto 40px auto 30vw;
  }
  .prices p {
    text-align: center;
  }
  #map {
    width: 80vw;
    margin-left: 10vw;
    min-height: 700px;
  }

  .prices li {
    height: 100px;  
  }

  #menu-desktop {
    margin-right: 35vw;
  }

  .activity img {
    width: 60vw ;
    max-width: 900px;
  }
 

}

@media only screen and (min-width: 1500px) {
 
  .widget {
    margin-right: 15vw;
  }
  #menu-desktop  {
    margin-left: 13vw;
  }

}


.gallery {
	padding-top: 100px;
	
}

.gallery p {
	text-align: center;
	width: 90vw;
	margin-left: 5vw;
	padding-bottom: 20px;
}

.carousel-container {
	width: 100%;

	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: hidden;
}

.main-image {
	position: relative;
	padding: 0 0 1vh 0;
	width: 100vw;
	height: auto;
	
}

.current-image {
	width: 100vw;
	height: auto;
	
}

.thumbnails {
	width: 95%;
	padding: auto 10vw auto 10vw;
	position: relative;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.next-list {
	position: relative;
	list-style-type: none;
	-ms-grid-row-align: center;
	    align-self: center;
	text-align: center;

	padding-left: 0;
	margin-bottom: 10vh;
	display: -ms-grid;
	display: grid;

	-ms-grid-columns: 70px 70px 70px 70px 70px 70px 70px;

	    grid-template-columns: repeat( auto-fit, minmax(70px, 1fr) );
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	grid-gap: 5px 2px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: hidden;
	-webkit-transition: all .5s;
	transition: all .5s;
	grid-auto-columns: column;
}

.next-list li {

	-ms-grid-column-align: center;

	    justify-self: center;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 70px;
	min-width: 70px;
	height: 70px;
	margin: 0 5px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s;
}



.image-of-list {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	overflow: hidden;
	border: 2px solid white;
-webkit-transition-property: opacity;
transition-property: opacity;
    -webkit-transition-duration: 1s;
    -webkit-timing-function: ease-in-out;
   
}

img[data-src] {
	opacity: 0;
}




.current-image-list {
	border: 2px solid #f6b93b;;
	opacity: 1;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 100px;
	position: absolute;
	top: 50%;
	/*background-color: blue;
	border-radius: 50%;*/
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: center;
	
	color: #636161;
	cursor: pointer;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	z-index: 2;
}


.arrow:hover {
	color: #eef0f2;

}

.image-of-list:hover {

		border: 2px solid #b2b2b2;
		opacity: 0.8;

}


.next-list {
	-ms-grid-columns: ( minmax(70px, 1fr) )[auto-fill];
		grid-template-columns: repeat( auto-fill, minmax(70px, 1fr) );
	grid-gap: 1vw 1vh;

}

.arrow {
	top: 45%;
	color: #eef0f2;
	text-align: center;
	
}
.arrow i {
	text-align: center;
	font-size: 50px;
}
.arrow-left {
left: 5vw;
}
.arrow-right {
right: 5vw;
}



@-webkit-keyframes arrows {
    from {color: #636161;}
    to {color: #010F2a;}
}

@keyframes arrows {
    from {color: #636161;}
    to {color: #010F2a;}
}


 /*
 * Animations
 */

 @-webkit-keyframes fadeIn {
     0% {opacity: 0}
     100% {opacity: 1}
 }

 @keyframes fadeIn {
     0% {opacity: 0}
     100% {opacity: 1}
 }

 @-webkit-keyframes slideInFromLeft {
     0% {
     	opacity: 0;
     	-webkit-transform: translateX(-100%);
     	        transform: translateX(-100%);
    	}
     100% {
     	opacity: 1;
     	-webkit-transform: translateX(0px);
     	        transform: translateX(0px);
     }
 }

 @keyframes slideInFromLeft {
     0% {
     	opacity: 0;
     	-webkit-transform: translateX(-100%);
     	        transform: translateX(-100%);
    	}
     100% {
     	opacity: 1;
     	-webkit-transform: translateX(0px);
     	        transform: translateX(0px);
     }
 }

 @-webkit-keyframes slideInFromRight {
     0% {
     	opacity: 0;
     	-webkit-transform: translateX(100%);
     	        transform: translateX(100%);
    	}
     100% {
     	opacity: 1;
     	-webkit-transform: translateX(0px);
     	        transform: translateX(0px);
     }
 }

 @keyframes slideInFromRight {
     0% {
     	opacity: 0;
     	-webkit-transform: translateX(100%);
     	        transform: translateX(100%);
    	}
     100% {
     	opacity: 1;
     	-webkit-transform: translateX(0px);
     	        transform: translateX(0px);
     }
 }

 .slideInFromLeft {
 	-webkit-animation: slideInFromLeft .5s ease-in-out;
 	        animation: slideInFromLeft .5s ease-in-out;
 }

 .slideInFromRight {
 	-webkit-animation: slideInFromRight .5s ease-in-out;
 	        animation: slideInFromRight .5s ease-in-out;
 }

 .fadeIn {
 	-webkit-animation: fadeIn .5s ease-in-out;
 	        animation: fadeIn .5s ease-in-out;
 }




@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.next-list {
		display: none;
	}
     
}


@media only screen and (min-width: 992px) {
	.current-image {
		width: 80vw;
		height: auto;
		margin-left: 10vw;
		
	}
	.arrow-left {
		left: 13vw;
		}
		.arrow-right {
		right: 13vw;
		}
	.thumbnails {
		width: 80vw;
		padding: auto 10vw auto 10vw;

}
}

@media only screen and (min-width: 1200px) {
	.current-image {
		width: 60vw;
		height: auto;
		margin-left: 20vw;
		
	}
	.arrow-left {
		left: 25vw;
		}
	.arrow-right {
		right: 25vw;
		}
	.thumbnails {
			width: 60vw;
		}}
  
    
/* 
    .sprite {
      background-image: url(https://i.imgur.com/uddAcr4.png);
      background-repeat: no-repeat;
      display: block;
      }
      
      .sprite-01d {
      width: 50px;
      height: 50px;
      background-position: -5px -5px;
      }
      
      .sprite-01n {
      width: 50px;
      height: 50px;
      background-position: -65px -5px;
      }
      
      .sprite-02d {
      width: 50px;
      height: 50px;
      background-position: -125px -5px;
      }
      
      .sprite-02n {
      width: 50px;
      height: 50px;
      background-position: -185px -5px;
      }
      
      .sprite-03d {
      width: 50px;
      height: 50px;
      background-position: -5px -65px;
      }
      
      .sprite-03n {
      width: 50px;
      height: 50px;
      background-position: -65px -65px;
      }
      
      .sprite-04d {
      width: 50px;
      height: 50px;
      background-position: -125px -65px;
      }
      
      .sprite-04n {
      width: 50px;
      height: 50px;
      background-position: -185px -65px;
      }
      
      .sprite-09d {
      width: 50px;
      height: 50px;
      background-position: -5px -125px;
      }
      
      .sprite-09n {
      width: 50px;
      height: 50px;
      background-position: -65px -125px;
      }
      
      .sprite-10d {
      width: 50px;
      height: 50px;
      background-position: -125px -125px;
      }
      
      .sprite-10n {
      width: 50px;
      height: 50px;
      background-position: -185px -125px;
      }
      
      .sprite-11d {
      width: 50px;
      height: 50px;
      background-position: -5px -185px;
      }
      
      .sprite-11n {
      width: 50px;
      height: 50px;
      background-position: -65px -185px;
      }
      
      .sprite-13d {
      width: 50px;
      height: 50px;
      background-position: -125px -185px;
      }
      
      .sprite-13n {
      width: 40px;
      height: 40px;
      background-position: -185px -185px;
      }
      
      .sprite-50d {
      width: 50px;
      height: 50px;
      background-position: -245px -5px;
      }
      
      .sprite-50n {
      width: 50px;
      height: 50px;
      background-position: -245px -65px;
      } */